[rules.no-function]
kind = "warning" # just a string
message = "using function {}" # {} gets replaced with the "lint" object
language = "go"
query="""((function_declaration
  name: (identifier) @lint) @func
  (#match? @lint "[a-z]"))""" # use `lint` for the actual thing
